<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="problog.dao.CarouselMapper">
    <resultMap id="BaseResultMap" type="problog.entity.Carousel">
        <id column="id" jdbcType="INTEGER" property="cid"/>
        <id column="id" jdbcType="INTEGER" property="mid"/>
    </resultMap>
    <!--parameterMap传入的类型，resultMap用于接收返回类型-->
    <select id="selectCarouselByTitle" parameterType="java.lang.String">
        select * from carousel ca where ca.title = #{title}
    </select>
    <select id="selectMaxSort" resultType="java.lang.Integer">
        select IFNULL(max(sort),0) from carousel
    </select>
    <select id="moveUp" resultType="com.magelala.advertisement.entity.Carousel" parameterType="java.lang.Integer">
<!--        select * from carousel where id = (select id from carousel where id < {$id} order by id desc limit 1)-->
        select * from carousel ca where ca.sort &lt; #{sort} order by ca.sort desc limit 0,1
    </select>
    <select id="moveDown" resultMap="com.magelala.advertisement.entity.Carousel" parameterType="java.lang.Integer">
<!--         select * from carousel where id = (select id from carousel where id < {$id} order by id asc limit 1)-->
        select * from carousel ca where ca.sort &gt; #{sort} order by ca.sort desc limit 0,1
    </select>
</mapper>