<html xmlns:th="http://www.thymeleaf.org">




<table id="demo" lay-filter="test" ></table>

<script src="/layui/layui.js" th:src="@{/layui.js}"></script>
<script th:inline="none">
    layui.use('table', function(){
        var table = layui.table;

        //第一个实例
        table.render({
            elem: '#demo'
            ,height: 312
            ,url: '/article/show' //数据接口
            ,page: true //开启分页
            ,cols: [[ //表头
                {field: 'id', title: 'ID', width:80, sort: true, fixed: 'left'}
                ,{field: 'title', title: '文章标题', width:80}
                ,{field: 'summary', title: '摘要', width:80, sort: true}
                ,{field: 'createByTime', title: '创建时间', width:80}

