<html xmlns:th="http://www.thymeleaf.org">

<!--    <div class="list-content" th:fragment="articleList">-->
<!--        <div class="layui-tab layui-tab-brief" lay-filter="docDemoTabBrief">-->
<!--            <div class="layui-tab-content">-->
<!--                <div class="layui-tab-item layui-show">-->
<!--                    <table class="layui-table">-->
<!--                        <colgroup>-->
<!--                            <col width="150">-->
<!--                            <col width="200">-->
<!--                            <col>-->
<!--                        </colgroup>-->
<!--                        <thead>-->
<!--                        <tr>-->
<!--                            <th>序号</th>-->
<!--                            <th>文章标题</th>-->
<!--                            <th>文章类别</th>-->
<!--                            <th>发布时间</th>-->
<!--                            <th>操作</th>-->
<!--                        </tr>-->
<!--                        </thead>-->
<!--                        <tbody>-->
<!--                        <tr v-for="item in articles">-->
<!--                            <td>-->
<!--                                <input type="checkbox" :checked="flag" />-->
<!--                            </td>-->
<!--                            <td>{{item.id}}</td>-->
<!--                            <td>{{item.title}}</td>-->
<!--                            <td>{{item.summary}}</td>-->
<!--                            <td>{{item.createByDate}}</td>-->
<!--                            <td><button class="layui-btn">修改</button> <button class="layui-btn layui-btn-danger">删除</button> </td>-->
<!--                        </tr>-->
<!--                        </tbody>-->
<!--                    </table>-->
<!--                </div>-->

<!--            </div>-->
<!--        </div>-->
<!--    </div>-->


<table id="demo" lay-filter="test" ></table>

<script src="/layui/layui.js" th:src="@{/layui.js}"></script>
<script th:inline="none">
    layui.use('table', function(){
        var table = layui.table;

        //第一个实例
        table.render({
            elem: '#demo'
            ,height: 312
            ,url: '/article/show' //数据接口
            ,page: true //开启分页
            ,cols: [[ //表头
                {field: 'id', title: 'ID', width:80, sort: true, fixed: 'left'}
                ,{field: 'title', title: '文章标题', width:80}
                ,{field: 'summary', title: '摘要', width:80, sort: true}
                ,{field: 'createByTime', title: '创建时间', width:80}


            ]]
        });

    });
</script>
</html>