<html xmlns:th="http://www.thymeleaf.org">

    <div class="list-content" th:fragment="articleList">
        <div class="layui-tab layui-tab-brief" lay-filter="docDemoTabBrief">
            <div class="layui-tab-content">
                <div class="layui-tab-item layui-show">
                    <table class="layui-table">
                        <colgroup>
                            <col width="150">
                            <col width="200">
                            <col>
                        </colgroup>
                        <thead>
                        <tr>
                            <th>序号</th>
                            <th>文章标题</th>
                            <th>文章类别</th>
                            <th>发布时间</th>
                            <th>操作</th>
                        </tr>
                        </thead>

                        <tbody>
                        <tr v-for="item in articles">
                            <td>
                                <input type="checkbox" :checked="flag" />
                            </td>
                            <td>{{item.id}}</td>
                            <td>{{item.title}}</td>
                            <td>{{item.summary}}</td>
                            <td>{{item.createByDate}}</td>
                            <td><button class="layui-btn">修改</button> <button class="layui-btn layui-btn-danger">删除</button> </td>


                        </tr>

                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</html>