<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="commonSide">
    <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
    <ul class="layui-nav layui-nav-tree"  lay-filter="test">
        <li class="layui-nav-item message">
            <a class="" href="javascript:;">文章</a>
            <dl class="layui-nav-child">
                <dd><a th:href="@{/article/index}">文章列表</a></dd>
                <dd><a th:href="@{/article/write}">写文章</a></dd>
                <dd><a href="">分类目录</a></dd>
                <dd><a href="">标签</a></dd>
            </dl>
        </li>
        <li class="layui-nav-item ">
            <a href="javascript:">页面设置</a>
            <dl class="layui-nav-child">
                <dd><a href="">顶部</a></dd>
                <dd><a href="">菜单</a></dd>
                <dd><a href="">底部</a></dd>
                <dd><a href="">背景</a></dd>
            </dl>
        </li>
        <li class="layui-nav-item">
            <a href="javascript:;">广告管理</a>
            <dl class="layui-nav-child">
                <dd><a th:href="@{/advertise/index}">首页轮播图</a></dd>
                <dd><a th:href="@{/companyProfile/index}">企业简介</a></dd>
            </dl>
        </li>
        <li class="layui-nav-item"><a th:href="@{/user}">用户管理</a></li>
        <li class="layui-nav-item">
            <a href="javascript:;">设置</a>
            <dl class="layui-nav-child">
                <dd><a th:href="@{/setting/myProfile}">基本资料</a></dd>
                <dd><a th:href="@{/setting/updatePwd}">修改密码</a></dd>
                <dd><a th:href="@{/setting}">系统设置</a></dd>
            </dl>
        </li>
    </ul>
</div>
