<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="commonHead(title)">
    <meta charset="UTF-8">
    <title th:replace="${title}"></title>
    <!--<link rel="stylesheet" href="/static/bootstrap/css/bootstrap.css" th:href="@{/bootstrap/css/bootstrap.css}">
    <link rel="stylesheet" href="/static/css/layout.css" th:href="@{/css/layout.css}">-->
    <link rel="stylesheet" href="/static/css/layui.css" th:href="@{/css/layui.css}">
    <link rel="stylesheet" href="/static/css/logo.css" th:href="@{/css/logo.css}">
</head>