<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="commonHeader" class="layui-header">
    <div class="layui-logo">公司LOGO</div>
    <!-- 头部区域（可配合layui已有的水平导航） -->
    <ul class="layui-nav layui-layout-left">
        <li class="layui-nav-item"><a th:href="@{/main}">返回主页</a></li>
        <li class="layui-nav-item"><a href="javascript:;" th:href="@{/main}">数据中心</a></li>
    </ul>
    <ul class="layui-nav layui-layout-right">
        <li class="layui-nav-item">
            <a href="javascript:;">
                <img src="/static/img/user.jpg" th:src="@{/img/user.jpg}" class="layui-nav-img" alt="用户名">用户名
            </a>
            <dl class="layui-nav-child layui-anim layui-anim-upbit">
                <dd><a th:href="@{/setting/myProfile}">基本资料</a></dd>
                <dd><a th:href="@{/setting/updatePwd}">修改密码</a></dd>
                <dd><a th:href="@{/setting}">系统设置</a></dd>
            </dl>
        </li>
        <li class="layui-nav-item"><a th:href="@{/}">退出</a></li>
    </ul>
</div>