<!DOCTYPE html >
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="commons/common_head::commonHead(~{::title})">
    <title>基本资料</title>
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">

    <div class="content">
        <div class="layui-fluid">
            <div class="layui-row layui-col-space15">
                <div class="layui-col-md12">
                    <div class="layui-card">
                        <div class="layui-card-header">设置我的资料</div>
                        <div class="layui-card-body">

                            <form class="layui-form" lay-filter="">
                                <div class="layui-form-item">
                                    <label class="layui-form-label">我的角色</label>
                                    <div class="layui-input-inline">
                                        <input type="text" disabled="disabled" th:value="${user.getRrole().getName()}" class="layui-input">
                                    </div>
                                    <div class="layui-form-mid layui-word-aux">当前角色不可更改为其它角色</div>
                                </div>
                                <div class="layui-form-item">
                                    <input type="text" name="" th:value="${user.getId()}" id="id" hidden>
                                    <input type="text" name="" th:value="${user.getPassword()}" id="password" hidden>
                                    <input type="text" name="" th:value="${user.getRole()}" id="role" hidden>
                                    <label class="layui-form-label">用户名</label>
                                    <div class="layui-input-inline">
                                        <input type="text" id="userName" name="userName" th:value="${user.getUserName()}" class="layui-input">
                                    </div>
                                </div>
                                <div class="layui-form-item">
                                    <label class="layui-form-label">姓名</label>
                                    <div class="layui-input-inline">
                                        <input type="text" id="name" name="name" th:value="${user.getName()}"  lay-verify="name" autocomplete="off" placeholder="请输入昵称" class="layui-input">
                                    </div>
                                </div>
                                <div class="layui-form-item">
                                    <label class="layui-form-label">头像</label>
                                    <div class="layui-input-inline">
                                        <input name="avatar" lay-verify="required" id="LAY_avatarSrc" placeholder="图片地址" value="http://cdn.layui.com/avatar/168.jpg" class="layui-input">
                                    </div>
                                    <div class="layui-input-inline layui-btn-container" style="width: auto;">
                                        <button type="button" class="layui-btn layui-btn-primary" id="LAY_avatarUpload">
                                            <i class="layui-icon">&#xe67c;</i>上传图片
                                        </button>
                                        <img id="show" th:src="@{${user.getPicture()}}" style="height: 50px;width: 50px;">
                                        <input id="picture" th:value="${user.getPicture()}" name="picture">
                                        <p id="demoText"></p>
                                    </div>
                                </div>
                                <div class="layui-form-item">
                                    <label class="layui-form-label">手机</label>
                                    <div class="layui-input-inline">
                                        <input type="text" name="tel" id="tel"  th:value="${user.getTel()}" lay-verify="phone" autocomplete="off" class="layui-input">
                                    </div>
                                </div>
                                <div class="layui-form-item">
                                    <label class="layui-form-label">邮箱</label>
                                    <div class="layui-input-inline">
                                        <input type="text" id="email" name="email" th:value="${user.getEmail()}" lay-verify="email" autocomplete="off" class="layui-input">
                                    </div>
                                </div>
                                <div class="layui-form-item layui-form-text">
                                    <label class="layui-form-label">备注</label>
                                    <div class="layui-input-block">
                                        <input type="text" name="context" id="context" th:value="${user.getContext()}" placeholder="请输入内容" class="layui-input"></input>
                                    </div>
                                </div>
                                <div class="layui-form-item">
                                    <div class="layui-input-block">
                                        <button class="layui-btn update" lay-submit lay-filter="setmyinfo">确认修改</button>
                                        <button type="reset" class="layui-btn layui-btn-primary">重新填写</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div th:replace="commons/common_footer :: commonFooter"></div>
</div>

<script src="/static/layui.js" th:src="@{/layui.js}"></script>
<script th:inline="none">
    layui.config({
        base: '/myJs/'
    }).use('setting');
</script>


</body>
</html>