<!DOCTYPE html >
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="commons/common_head::commonHead(~{::title})">
    <title>文章列表</title>
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <!--头部-->
    <div th:replace="commons/common_header :: commonHeader"></div>

    <div class="layui-side layui-bg-black">
        <div th:replace="commons/common_side::commonSide"></div>
    </div>

    <div class="layui-body">
        <div class="layui-fluid" style="margin-top: 20px;">
            <div class="layui-form-item" style="margin: 5px 0">
                <div style="float: left;">
                    <span class="layui-breadcrumb">
                        <a th:href="@{/main}">首页</a>
                        <a><cite>文章</cite></a>
                        <a th:href="@{/article/index}">文章列表</a>
                    </span>
                </div>
                <div class="search-carousel" style="float: right;">
                    标题搜索
                    <div class="layui-inline">
                        <input class="layui-input" name="title" id="title" autocomplete="off">
                    </div>
                    <button class="layui-btn" id="searchTitle" data-type="searchTitle">搜索</button>
                </div>
            </div>

            <!-- 内容主体区域 -->
            <table id="articleShow" lay-filter="test" class="layui-table"></table>
        </div>
    </div>

    <!--页脚-->
    <div th:replace="commons/common_footer :: commonFooter"></div>
</div>

<script th:src="@{/layui.js}"></script>
<script th:inline="none" >
    layui.config({
        base: '/myJs/'
    }).use('article');
</script>
<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
    <a class="layui-btn layui-btn-xs" lay-event="top">置顶</a>
</script>
</body>
</html>



</body>
</html>