<!DOCTYPE html >
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="commons/common_head::commonHead(~{::title})">
    <title>文章列表</title>
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <!--头部-->
    <div th:replace="commons/common_header :: commonHeader"></div>

    <div class="layui-side layui-bg-black">
        <div th:include="commons/common_side::commonSide"></div>
    </div>

    <div class="layui-body">
        <div class="layui-fluid" style="margin-top: 20px;">
            <div class="layui-form-item" style="margin: 5px 0">
                <div style="float: left;">
                    <span class="layui-breadcrumb">
                        <a th:href="@{/main}">首页</a>
                        <a><cite>文章</cite></a>
                        <a th:href="@{/article/index}">文章列表</a>
                    </span>
                </div>
                <div class="search-carousel" style="float: right;">
                    标题搜索
                    <div class="layui-inline">
                        <input class="layui-input" name="title" id="title" autocomplete="off">
                    </div>
                    <button class="layui-btn" id="searchTitle" data-type="searchTitle">搜索</button>
                </div>
            </div>

            <!-- 内容主体区域 -->
            <table id="articleShow" lay-filter="test" class="layui-table"></table>
        </div>
    </div>

    <!--页脚-->
    <div th:replace="commons/common_footer :: commonFooter"></div>
</div>

<script th:src="@{/layui.js}"></script>
<script th:inline="none" >
    layui.config({
        base: '/myJs/'
    }).use('article');
</script>
<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
    <a class="layui-btn layui-btn-xs" lay-event="top">置顶</a>
</script>
</body>
</html>


<!--页面模板articleList -->
<!--<template id="articleList">
            <div class="list-content">
            <div class="layui-tab layui-tab-brief" lay-filter="docDemoTabBrief">
                <div class="layui-tab-content">
                    <div class="layui-tab-item layui-show">
                        <table class="layui-table">
                            <colgroup>
                                <col width="150">
                                <col width="200">
                                <col>
                            </colgroup>
                            <thead>
                            <tr>
                                <th>序号</th>
                                <th>文章标题</th>
                                <th>文章类别</th>
                                <th>发布时间</th>
                                <th>操作</th>
                            </tr>
                            </thead>

                            <tbody>
                            <tr v-for="item in articles">
                                <td>
                                    <input type="checkbox" :checked="flag" />
                                </td>
                                <td>{{item.id}}</td>
                                <td>{{item.title}}</td>
                                <td>{{item.summary}}</td>
                                <td>{{item.createByDate}}</td>
                                <td><button class="layui-btn">修改</button> <button class="layui-btn layui-btn-danger">删除</button> </td>


                            </tr>

                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
</template>-->

<!--页面模板writeArticle-->
<!--<template id="writeArticle">
    <div class="write-article">
        <form class="layui-form" action="">
            <div class="layui-form-item classify">
                <label class="layui-form-label">分类</label>
                <div class="layui-input-block">
                    <select name="classify" lay-verify="required">
                        <option value=""></option>
                        <option value="0">vue</option>
                        <option value="1">php</option>
                        <option value="2">java</option>
                        <option value="3">hadoop</option>
                        <option value="4">node</option>
                    </select>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label" >标题</label>
                <div class="layui-input-block">
                    <input type="text" name="Title" required  lay-verify="required" placeholder="请输入标题" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item textarea-content">
                <label class="layui-form-label"  id="Context">正文</label>
                <div class="layui-input-block">
                    <textarea id="demo" style="display: none;" placeholder="请输入内容" name="Context"></textarea>
                </div>
            </div>
            <div class="layui-form-item layui-form-text">

                <label class="layui-form-label" >摘要</label>
                <div class="layui-input-block">
                    <textarea name="Summary" placeholder="请输入内容" class="layui-textarea"></textarea>
                </div>
            </div>
            <div class="layui-form-item layui-form-text">
                <label class="layui-form-label">封面</label>
                <div class="layui-input-block">
                    <button type="button" class="layui-btn"  id="test1" >
                        <i class="layui-icon">&#xe67c;</i>上传图片
                    </button>

                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">关键词</label>
                <div class="layui-input-block">
                    <input type="text" name="Keywords" required  lay-verify="required" placeholder="请输入关键词" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">作者</label>
                <div class="layui-input-block">
                    <input type="text" name="author" required  lay-verify="required" placeholder="请输入作者" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button class="layui-btn" name="send" lay-submit lay-filter="formDemo" onclick="add()">立即提交</button>
                    <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                </div>
            </div>
        </form>
    </div>
</template>-->