<!DOCTYPE html >
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="commons/common_head::commonHead(~{::title})">
    <title>分类管理</title>
</head>
<body class="layui-layout-body">

<div class="layui-layout layui-layout-admin">

    <!--头部-->
    <div th:replace="commons/common_header :: commonHeader"></div>

    <div class="layui-side layui-bg-black">
        <div th:include="commons/common_side::commonSide"></div>
    </div>

    <div class="layui-body">

    </div>

    <!--页脚-->
    <div th:replace="commons/common_footer :: commonFooter"></div>
</div>
<script th:src="@{/layui.js}"></script>
<script th:inline="none" >
    layui.config({
        base: '/myJs/'
    }).use('article');
</script>
</body>
</html>