<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/layui.css" th:href="@{/css/layui.css}"  media="all" />
</head>

<body>
<div class="contianer">
    <h2 style="margin: 20px; font-weight: 700;">拥有权限：</h2>
    <form class="layui-form" action="">
        <div class="layui-form-item">
            <div class="layui-input-block">
                <div style="display: flex; flex-direction: column; width: 120px; font-size: 0;" th:each="mage:${menuList}"}>

                    <input type="checkbox" th:if="${mage.key != '用户管理' && mage.key != '数据中心'} "  th:value="${mage.value}"   th:name="${'name'+mage.value}"   th:title="${mage.key}">

                </div>

            </div>
        </div>


        <button type="button" lay-submit lay-filter="edformDemo" class="layui-btn layui-btn-normal" style="margin-left: 125px;">保存</button>

    </form>

</div>

<script th:src="@{/layui.js}"></script>
<script th:inline="none">
    layui.config({
        base: '/myJs/'
    }).use('menu');
</script>
</body>

</html>