<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>权限管理</title>
    <link rel="stylesheet" href="/static/css/layui.css" th:href="@{/css/layui.css}"  media="all" />
</head>

<body>
<div style="height: calc(100vh - 60px); display: flex;">
    <div class="right" style="flex: 1; padding: 15px;">
      <span class="layui-breadcrumb">
        <a href="">当前位置</a>
        <a href="">用户管理</a>
        <a href="">权限管理</a>
      </span>
        <div class="changePlay-bth" style="margin-top: 30px; font-size: 0;">
            <a th:href="@{/user/adminList}" class="layui-btn layui-btn-primary admin"   th:value="${roleList[0].getId()}"  target="limit"
               style="background-color:#1E9FFF; width: 200px;margin: 0;">管理员</a>
            <a th:href="@{/user/editerList}" class="editer layui-btn layui-btn-primary" value="1"  target="limit"
               style="width: 200px; margin: 0;">编辑</a>
        </div>
        <iframe th:src="@{/user/adminList}" name="limit" frameborder="0" style="width: 1000px;height: 500px;"></iframe>

    </div>
</div>
<script th:src="@{/layui.js}"></script>
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script>

    $('.editer').click(function () {
        $(this).css('background', '#1E9FFF');
        $('.admin').css('background', 'white');


    })
    $('.admin').click(function () {
        $(this).css('background', '#1E9FFF');
        $('.editer').css('background', 'white');
    })
</script>
<script th:inline="none">
    layui.config({
        base: '/myJs/'
    }).use('menu');
</script>
</body>

</html>