<!DOCTYPE html>
<!DOCTYPE>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>修改logo</title>
    <link rel="stylesheet" href="/static/css/layui.css" th:href="@{/css/layui.css}"  media="all" />
</head>

<body>

<form class="layui-form" id="addForm">
    <div class="layui-form" style="padding: 20px 0 0 0">

        <input type="text" name="id" th:value="${logo.id}" id="id" hidden>

        <div class="layui-form-item">
            <label class="layui-form-label">Logo图片</label>
            <div class="layui-input-inline">
                <button type="button" class="layui-btn" id="upload">
                    <i class="layui-icon">&#xe67c;</i>上传图片
                </button>
                <img id="show" th:src="@{${logo.src}}" style="height: 50px;width: 50px;" />
                <input th:value="${logo.src}" name="src" hidden />
                <p id="demoText"></p>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">图片链接</label>
            <div class="layui-input-inline">
                <input type="text" id="link" th:value="${logo.url}" name="url" lay-verify="required"  autocomplete="off" class="layui-input" placeholder="请输入Logo图片链接地址">
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit id="update" lay-filter="update">保存修改</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
        </div>
    </div>
</form>

<script src="/static/layui.js" th:src="@{/layui.js}"></script>
<script th:inline="none">
    layui.use(['form','upload','layer','table'], function() {
        var $ = layui.jquery
            ,upload = layui.upload
            ,form = layui.form
            ,layer = layui.layer
            ,table = layui.table;

        form.on('submit(update)',function (data) {
            //JSON数据
            var js = {id:$("#id").val(),src:$("#show")[0].src,url:$("#url").val()};
            $.ajax({
                url: '/logo/update',
                type: 'PUT',
                dataType: 'JSON',
                contentType: 'application/json',
                data: JSON.stringify(js),
                success: function (data) {
                    layer.alert(data.msg);
                    parent.window.location.reload();
                },error:function () {
                    layer.alert("更新失败");
                    parent.window.location.reload();
                }
            });
            console.log(data);
            return false;
        });

        //执行上传
        var uploadInst = upload.render({
            elem: '#upload' //绑定元素,上传按钮的id
            , url: '/native' //上传接口
            , method: 'POST'
            , accept: 'images'
            , size: 500
            , before: function (obj) {
                obj.preview(function (index, file, result) {
                    $('#show').attr('src', result); //图片链接
                });
            }
            , done: function (res) {//上传完毕回调
                layer.close(layer.msg('上传成功！'));
            }
            , error: function () {//请求异常回调
                //演示失败状态，并实现重传
                var demoText = $('#demoText');
                demoText.html('<span style="color: #FF5722;">上传失败</span> <a class="layui-btn layui-btn-xs demo-reload">重试</a>');
                demoText.find('.demo-reload').on('click', function () {
                    uploadInst.upload();
                });
            }
        });
    });
</script>
</body>
</html>