.nav-db-tab{
	margin: 50px 50px;
	width: 600px;
	height: 100%;
}
.settingTitle{
	margin-left: 50px ;
	margin-top: 50px;
	font-size: 16px;
}
.setting{
	margin: 50px 50px;
	width: 350px;
	border: 1px solid #000;
	padding: 50px;
	height: 200px;
	margin-top: 0px;
}
.setting div{
	font-size: 16px;	
}
.settingSelect{
	float: left;
}
.bigBox{
	width: 100px;
	float: right;
}