<!DOCTYPE html >
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="commons/common_head::commonHead(~{::title})">
    <title>广告管理</title>
</head>
<body class="layui-layout-body">

<div class="layui-layout layui-layout-admin">

    <!--顶部-->
    <div th:include="commons/common_header :: commonHeader" class="layui-header"></div>

    <!--侧边栏-->
    <div class="layui-side layui-bg-black">
        <div th:include="commons/common_side::commonSide" class="layui-side-scroll"></div>
    </div>

    <div class="layui-body">
        <div style="margin-top: 20px;" class="layui-fluid">
            <div class="layui-form-item">
                <div class="search-carousel">
                    搜索广告
                    <div class="layui-inline">
                        <input class="layui-input" name="id" id="search" autocomplete="off">
                    </div>
                    <button class="layui-btn" data-type="search">搜索</button>
                </div>
            </div>

            <!--工具栏模板-->
            <script type="text/html" id="toolbar">
                <a class="layui-btn layui-btn-sm" lay-event="add"><i class="layui-icon layui-icon-add-1"></i></a>
                <a class="layui-btn layui-btn-sm" lay-event="edit"><i class="layui-icon layui-icon-edit"></i></a>
                <a class="layui-btn layui-btn-sm" lay-event="del"><i class="layui-icon layui-icon-delete"></i></a>
            </script>
            <table class="layui-table" id="carousel" lay-filter="demo"></table>
            <!--<table class="layui-table" lay-data="{width: 900, height:330, url:'/advertisement/findPage', page:true, id:'carousel'}" lay-filter="demo">
                <thead>
                <tr>
                    <th lay-data="{type:'checkbox', fixed: 'left'}"></th>
                    <th lay-data="{field:'id', width:80, sort: true, fixed: true}">ID</th>
                    <th lay-data="{field:'imgUrl', width:80}">图片地址</th>
                    <th lay-data="{field:'createDate', width:80, sort: true}">创建时间</th>
                    <th lay-data="{field:'title', width:80}">标题</th>
                    <th lay-data="{field:'imgLink', width:160}">图片链接</th>
                    <th lay-data="{field:'remark', width:80}">备注</th>

                    <th lay-data="{fixed: 'right', width:178, align:'center', toolbar: '#table-carousel-change'}"></th>
                </tr>
                </thead>
            </table>-->
            <!--工具条模板-->
            <script type="text/html" id="table-carousel-change">
                <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="up"><i class="layui-icon layui-icon-up"></i></a>
                <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="down"><i class="layui-icon layui-icon-down"></i></a>
            </script>
        </div>
    </div>

    <div class="layui-footer" th:include="commons/common_footer :: commonFooter" style="background-color:black;color:white;text-align:center;"></div>
</div>


<script src="/static/layui.js" th:src="@{/layui.js}"></script>
<script th:inline="none">
    //JavaScript代码区域
    layui.use('element', function(){
        var element = layui.element;
    });
</script>
<script type="text/javascript" th:inline="none">

    layui.use(['table','layer'], function(){
        var table = layui.table;
        table.render({
            elem: '#carousel'
            ,toolbar: '#toolbar'
            ,url:'/advertisement/findPage'
            ,method: 'get'
            ,width: '100%'
            ,cols: [[
                {type: 'checkbox',checkbox:true,fixed:'left'}
                ,{field:'id', width:80, title: 'ID', sort: true,fixed:'left'}
                , {field: 'imgUrl', width: 120, title: '图片地址'}
                ,{field:'createDate',width: 150,title: '创建时间', sort: true}
                ,{field:'title', width: 150, title: '标题'}
                ,{field:'imgLink', title: '图片链接', width: 150}
                ,{field:'remark', width:120, title: '备注'}
                ,{title: '操作',toolbar:"#table-carousel-change",width:200,fixed:'right'}
            ]]
            ,page: { //支持传入 laypage 组件的所有参数（某些参数除外，如：jump/elem） - 详见文档
                layout: ['limit', 'count', 'prev', 'page', 'next', 'skip'] //自定义分页布局
                ,curr: 1 //设定初始在第 1 页
                ,limit: 5 //一页显示多少条
                ,limits: [5,6,7,8,9,10,15,20]
                ,groups: 1 //只显示 1 个连续页码
                ,first: false //不显示首页
                ,last: '尾页' //不显示尾页
            }
        });

        /*为复选框添加点击事件,checkbox(lay-filter)*/
        table.on('checkbox(demo)', function(obj){
            console.log(obj)
        });

        /*定义查询后表格的重载方法*/
        var $ = layui.$
            ,layer = layui.layer
            ,active = {
            search: function () {
                var search = $('#search');
                table.reload('carousel',{   /*重载id为carousel的表格*/
                    where:{
                        id: search.val()    /*id为需要查询的实体主键,后端需要返回该参数*/
                    }
                    ,page: {
                        curr: 1
                    }
                })
            }
        };

        /*绑定搜索的点击事件*/
        $('.search-carousel .layui-btn').on('click',function(){
           var type =  $(this).data('type');
           active[type] ? active[type].call(this) : '';
        });

        /*监听表格上工具栏事件,demo为lay-filter设置的值*/
        table.on('toolbar(demo)',function (obj) {
            var checkStatus = table.checkStatus(obj.config.id),
                event = obj.event;
            if (event === 'add'){
                layer.open({
                    type: 2
                    ,title: '添加广告'
                    ,shade: [0.3]
                    ,content: 'advertiseAdd'
                    ,area: ['400px','400px']
                    ,offset:'auto'
                    ,btn: ['确认','取消']
                })
            }else if (event === 'del'){
                if (checkStatus.data === 0){
                    layer.msg("请输入数据");
                }
                layer.confirm('确定删除吗？',{btn: ['确认','取消']},function (index) {
                    $.ajax({
                        url: '/advertisement/delete?id=' + checkStatus.data[0].id,
                        type: 'DELETE',
                        data: {id: checkStatus.data[0].id},
                        dataType: 'JSON',
                        success: function (data) {
                            if (data) {
                                layer.msg("删除成功");
                                table.reload('carousel');
                            } else {
                                layer.msg("删除失败");
                                table.reload('carousel');
                            }
                        },
                        error: function () {
                            //打印选中的id值
                            console.log(checkStatus.data[0].id);
                            alert("错误，请联系管理员");
                        }
                    });
                })
            }else if(event === 'edit'){
                console.log("edit");
            }
        });

        /*监听表格中的工具条,demo为lay-filter设置的值*/
        table.on('tool(demo)',function (obj) {
            var data = obj.data
                ,event = obj.event;
            console.log(data);
            //上移
            if (event === 'up'){
                console.log("up");
            }else if (event === 'down'){  //下移
                console.log("down");
            }
        });
    });
</script>
</body>
</html>