<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>文章测试</title>
    <style>
		.article-content{
			width: 1200px;
			margin:0 auto;
			padding: 0 20px;
			p{
				font-size: 14px;
				line-height: 28px;
				text-indent: 2em;
				margin:10px 0;
			}
		}
    </style>
</head>
<body>
<div class="article-content">
	<h1>早读：新的一天，从这份新闻早餐开始</h1>
	<p>【剥洋葱】律师吕先三“涉黑”事件调查</p>
	<p>8月13日上午9点，合肥市中级法院第一法庭内，一起涉黑案件正在审理。18名被告人在法警的陪同下走进法庭，在审判长面前一字排开。他们依据被指控的罪名由重到轻依次排序，主犯徐维琴、邵柏春夫妇排在1号、2号，为他们打过多起官司的律师吕先三排在4号。</p>
	<p>合肥市检察院指控称，自2010年起，徐维琴、邵柏春夫妇涉足非法高利放贷，拉拢、网罗亲属及其他社会闲散人员，专门从事非法放贷、讨债活动，利用套路贷侵占他人财物，形成黑社会性质组织。而吕先三曾为徐、邵等人代理借贷纠纷案件，因此被检察机关认定为实施套路贷的团伙成员，以诈骗罪、参与黑社会性质组织罪被提起公诉。</p>
</div>
