<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>文章</title>
    <link rel="stylesheet" th:href="@{/css/layui.css}" href="css/layui.css">
    <link rel="stylesheet" href="css/article.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.staticfile.org/vue-router/2.7.0/vue-router.min.js"></script>
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo">公司LOGO</div>
        <!-- 头部区域（可配合layui已有的水平导航） -->
        <ul class="layui-nav layui-layout-left">
            <li class="layui-nav-item"><a href="/index.html">返回主页</a></li>
            <li class="layui-nav-item"><a href="javascript:;">数据中心</a></li>
        </ul>
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item">
                <a href="javascript:;">
                    <img src="img/user.jpg" class="layui-nav-img">用户名
                </a>
                <dl class="layui-nav-child layui-anim layui-anim-upbit">
                    <dd><a href="javascript:;">基本资料</a></dd>
                    <dd><a href="javascript:;">修改密码</a></dd>
                    <dd><a href="javascript:;">安全设置</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item"><a href="/login.html">退出</a></li>
        </ul>
    </div>
    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <ul class="layui-nav layui-nav-tree"  lay-filter="test">
                <li class="layui-nav-item layui-nav-itemed message">
                    <a class="" href="javascript:">文章</a>
                    <!--<ul class="secondary-menu">
                        <li class="layui-nav-item"><a href="">所有文章</a></li>
                        <li class="layui-nav-item"><a href="">写文章</a></li>
                        <li class="layui-nav-item"><a href="">分类目录</a></li>
                        <li class="layui-nav-item"><a href="">标签</a></li>
                    </ul>-->
                </li>
                <li class="layui-nav-item ">
                    <a href="javascript:;">页面</a>
                </li>
                <li class="layui-nav-item"><a href="javascript:;">外观</a></li>
                <li class="layui-nav-item"><a href="javascript:;">用户</a></li>
                <li class="layui-nav-item"><a href="javascript:;">设置</a></li>
            </ul>
        </div>
    </div>

    <div class="layui-body" style="background-color:#EEEEEE;">
        <!-- 内容主体区域 -->
        <div id="content">
            <router-view></router-view>
        </div>
    </div>

    <div class="layui-footer" style="background-color:black;color:white;text-align:center;">
        <!-- 底部固定区域 -->
        © magelala.com
    </div>
</div>
<script src="js/layui.js"></script>
<script src="js/article.js"></script>
<script src="js/jquery.js"></script>
<script>
    //JavaScript代码区域
    // layui.use('element', function(){
    //     var element = layui.element;
    // });
</script>
</body>
</html>
