<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>首页</title>
    <link rel="stylesheet" href="/static/css/layui.css" th:href="@{/css/layui.css}">
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">

    <!--头部-->
    <div th:replace="commons/common_header :: commonHeader"></div>
    <div style="height: calc(100vh - 60px); display: flex;">
        <div class="left layui-bg-black">
            <ul class="layui-nav layui-nav-tree" lay-filter="test">
                <!-- 侧边导航: <ul class="layui-nav layui-nav-tree layui-nav-side"> -->
                <li class="layui-nav-item layui-nav-itemed">
                    <a href="javascript:;">文章管理</a>
                    <dl class="layui-nav-child">
                        <dd><a th:href="@{/article/index}" target="main">所有文章</a></dd>
                        <dd><a th:href="@{/article/write}" target="main">添加文章</a></dd>
                        <dd><a th:href="@{/article/category}" target="main">分类管理</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;">页面设置</a>
                    <dl class="layui-nav-child">
                        <dd><a th:href="@{/logo/index}"  target="main">公司logo管理</a></dd>
                        <dd><a th:href="@{/nav/index}"  target="main">导航栏管理</a></dd>
                        <dd><a href="javascripts;"  target="main">热点新闻管理</a></dd>
                        <dd><a th:href="@{/foot/index}"  target="main">底部信息管理</a></dd>  <!--导航链接管理,版权信息的修改-->
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a th:href="@{/advertise/index}" target="main">广告管理</a>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;">用户管理</a>
                    <dl class="layui-nav-child">
                        <dd><a th:href="@{/user/userManage}" target="main">添加用户</a></dd>
                        <dd><a th:href="@{/user/limit}" target="main">权限管理</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;">设置</a>
                    <dl class="layui-nav-child">
                        <dd><a th:href="@{/setting/myProfile}" target="main">基本资料</a></dd>
                        <dd><a th:href="@{/setting/updatePwd}" target="main">修改密码</a></dd>
                        <dd><a th:href="@{/setting}" target="main">系统设置</a></dd>
                    </dl>
                </li>
            </ul>
        </div>
        <div class="right" style="flex: 1; padding: 15px;">
            <!--            <div style="padding: 15px;">-->
            <!--                <div class="content">-->
            <!--                    <p>访问人数：1人次</p>-->
            <!--                    <p>文章数量：1<br>-->
            <!--                        分类：</p>-->
            <!--                    <p>表单提交数：1次</p>-->
            <!--                    <p>最近新增文章数：1条</p>-->
            <!--                    <p>消息提醒：你有2条信息</p>-->
            <!--                </div>-->
            <!--            </div>-->
            <div style="height: 100%;">
                <iframe th:src="@{/news.html}" style="width: 100%;height: 100%;" frameborder="0" name="main"></iframe>
            </div>
        </div>
        <script src="../../static/layui.js"></script>
        <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
        <script>
            //注意：导航 依赖 element 模块，否则无法进行功能性操作
            layui.use('element', function () {
                var element = layui.element;
                //…
            });
        </script>
        <!--页脚-->
        <div th:replace="commons/common_footer :: commonFooter"></div>

    </div>
    <script th:src="@{/layui.js}"></script>
    <script>
        layui.config({
            base: '/myJs/'
        }).use('common');
    </script>
</body>
</html>