<!DOCTYPE html >
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>用户管理</title>
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.css" th:href="@{/bootstrap/css/bootstrap.css}">
    <link rel="stylesheet" href="/static/css/layout.css" th:href="@{/css/layout.css}">
    <link rel="stylesheet" href="/static/css/layui.css" th:href="@{/css/layui.css}">
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo">公司LOGO</div>
        <!-- 头部区域（可配合layui已有的水平导航） -->
        <ul class="layui-nav layui-layout-left">
            <li class="layui-nav-item"><a href="/index.html" th:href="@{/main}">返回主页</a></li>
            <li class="layui-nav-item"><a href="javascript:;">数据中心</a></li>
        </ul>
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item">
                <a href="javascript:;">
                    <img src="/static/img/user.jpg" th:src="@{/img/user.jpg}" class="layui-nav-img">用户名
                </a>
                <dl class="layui-nav-child layui-anim layui-anim-upbit">
                    <dd><a href="javascript:;">基本资料</a></dd>
                    <dd><a href="javascript:;">修改密码</a></dd>
                    <dd><a href="javascript:;">安全设置</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item"><a href="/login.html" th:href="@{/loginOut}">退出</a></li>
        </ul>
    </div>

    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <ul class="layui-nav layui-nav-tree"  lay-filter="test">
                <li class="layui-nav-item message">
                    <a class="" href="javascript:;">文章</a>
                    <dl class="layui-nav-child">
                        <dd><a href="article.html" th:href="@{/article}">所有文章</a></dd>
                        <dd><a href="">写文章</a></dd>
                        <dd><a href="">分类目录</a></dd>
                        <dd><a href="">标签</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item ">
                    <a href="javascript:;">页面设置</a>
                    <dl class="layui-nav-child">
                        <dd><a href="">顶部</a></dd>
                        <dd><a href="">菜单</a></dd>
                        <dd><a href="">底部</a></dd>
                        <dd><a href="">背景</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;">广告管理</a>
                    <dl class="layui-nav-child">
                        <dd><a href="advertisement.html" th:href="@{/advertise}">首页</a></dd>
                        <dd><a href="">About us</a></dd>
                        <dd><a href="">Contact us</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item"><a href="user.html" th:href="@{/user}">用户管理</a></li>
                <li class="layui-nav-item"><a href="setting.html" th:href="@{/setting}">设置</a></li>
            </ul>
        </div>
    </div>

    <div class="layui-body">
        <div id="content" class="no-sidebar">
            <div class="inner-content">
                <div class="user-iframe">
                    <div class="user-iframe-content">
                        <div class="nav-content">
                            <div class="nav-db-left">
                                <ul class="db-ul">
                                    <li class="db-li-1 dbactive">
                                        <span class="db-title" >用户管理</span>
                                    </li>
                                    <li class="db-li-2">
                                        <span class="db-title">添加用户</span>
                                    </li>
                                </ul>
                            </div>
                            <!-- <div class="nav-db-right">
                                <div class="right-search">
                                    <i class="glyphicon glyphicon-search right-icon"></i>
                                    <input type="text" placeholder="请输入图片标题">
                                    <span>搜索</span>
                                </div>
                            </div> -->
                        </div>

                        <div class="nav-db-tab">
                            <div id="tab-main">
                                <div class="tab-main-db" >
                                    <div class="tab-main-content">
                                        <div class="div-tab-table">
                                            <table id="table" class="table_style table table-hover table-striped" style="margin: 0 auto">
                                                <thead>
                                                <tr>
                                                    <th class="bs-checkbox" style="text-align: center;vertical-align: middle;width: 36px;" data-field="check">
                                                        <div class="th-inner">
                                                            <input type="checkbox" name="btSelectAll">
                                                        </div>
                                                    </th>
                                                    <th style="text-align: center;vertical-align: middle;" data-field="title">
                                                        <div class="th-inner">用户名</div>
                                                    </th>
                                                    <th style="text-align: center;vertical-align: middle;" data-field="title">
                                                        <div class="th-inner">姓名</div>
                                                    </th>
                                                    <th style="text-align: center;vertical-align: middle;" data-field="author">
                                                        <div class="th-inner">联系方式</div>
                                                    </th>
                                                    <th style="text-align: center;vertical-align: middle;" data-field="cIfy">
                                                        <div class="th-inner">角色</div>
                                                    </th>
                                                    <th style="text-align: center;vertical-align: middle;" data-field="label">
                                                        <div class="th-inner">文章</div>
                                                    </th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr class="carouselList">
                                                    <td class="bs-checkbox">
                                                        <input type="checkbox">
                                                    </td>
                                                    <td class="id" style="text-align: center;vertical-align: middle;">
                                                        李四
                                                    </td>
                                                    <td  style="text-align: center;vertical-align: middle;">
                                                        小李子
                                                    </td>
                                                    <td style="text-align: center;vertical-align: middle;">
                                                        13392403200
                                                    </td>
                                                    <td style="text-align: center;vertical-align: middle;">
                                                        管理员
                                                    </td>
                                                    <td style="text-align: center;vertical-align: middle;">
                                                        10
                                                    </td>
                                                </tr>
                                                <tr class="carouselList">
                                                    <td class="bs-checkbox">
                                                        <input type="checkbox">
                                                    </td>
                                                    <td class="id" style="text-align: center;vertical-align: middle;">
                                                        王五
                                                    </td>
                                                    <td  style="text-align: center;vertical-align: middle;">
                                                        王老五
                                                    </td>
                                                    <td style="text-align: center;vertical-align: middle;">
                                                        13392403200
                                                    </td>
                                                    <td style="text-align: center;vertical-align: middle;">
                                                        新闻编辑
                                                    </td>
                                                    <td style="text-align: center;vertical-align: middle;">
                                                        12
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="layui-footer" style="background-color:black;color:white;text-align:center;">
        <!-- 底部固定区域 -->
        © magelala.com
    </div>
</div>
<script src="/static/js/jq.js" th:src="@{/js/jq.js}"></script>
<script src="/static/js/layout.js" th:src="@{/js/layout.js}"></script>
<script src="/static/js/layui.js" th:src="@{/js/layui.js}"></script>
<script>
    //JavaScript代码区域
    layui.use('element', function(){
        var element = layui.element;
    });
</script>
</body>
</html>