<!DOCTYPE html >
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="commons/common_head::commonHead(~{::title})">
    <title>底部信息管理</title>
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">

    <div th:replace="commons/common_header :: commonHeader"></div>

    <div class="layui-side layui-bg-black">
        <div th:replace="commons/common_side::commonSide"></div>
    </div>

    <div class="layui-body">
        <div class="layui-tab layui-tab-brief">
            <ul class="layui-tab-title">
                <li class="layui-this">友情链接管理</li>
                <li>版权信息管理</li>
            </ul>
            <div class="layui-tab-content">
                <div class="layui-tab-item layui-show">
                    <table class="layui-table" id="links" lay-filter="demo"></table>
                    <div class="layui-btn-group">
                        <button type="button" class="layui-btn">增加</button>
                    </div>
                </div>
                <div class="layui-tab-item">
                    <form class="layui-form">

                        <input type="text" id="cid" name="id" th:value="${copy.id}" hidden>

                        <div class="layui-form-item">
                            <label class="layui-form-label">名称</label>
                            <div class="layui-input-inline">
                                <input type="text" id="name" name="name" th:value="${copy.name}"  lay-verify="required|name"  autocomplete="off" class="layui-input" placeholder="请输入公司名称">
                            </div>
                        </div>

                        <div class="layui-form-item">
                            <label class="layui-form-label">备案号</label>
                            <div class="layui-input-inline">
                                <input type="text" id="icp" name="icp" th:value="${copy.icp}"  lay-verify="required|icp"  autocomplete="off" class="layui-input" placeholder="请输入公司备案号">
                            </div>
                        </div>

                        <div class="layui-form-item">
                            <div class="layui-input-block">
                                <button class="layui-btn" lay-submit id="updateC" lay-filter="updateC">保存修改</button>
                                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <div th:replace="commons/common_footer :: commonFooter"></div>
</div>
<script src="/static/layui.js" th:src="@{/layui.js}"></script>
<script th:inline="none">
    layui.use(['element','table','form'],function () {
        var $ = layui.jquery
            ,element=layui.element
            ,table=layui.table
            ,form=layui.form;
        table.render({
            elem:"#links",
            url: "/foot/all"
            ,method: "GET"
            ,cellMinWidth: '80'
            ,done: function (res,curr,count) {
                layer.photos({
                    photos: '.link-picture'
                    ,anim: 1  //指定弹出图片的类型
                });
            }
            ,cols: [[
                {field:'id',width:80, title: 'id',fixed:'left'}
                ,{field:'linkName', width:150, title: '链接名称'}
                ,{field:'linkUrl', title: '链接Url', width: 200}
                ,{field:'linkPicture',title:'链接图片',width:150,templet:function (d) {
                            return `<div class="link-picture" style="cursor: pointer;">
                        <img src= ` + d.linkPicture + ` style="width: 150px;height: 50px;"/>
                        </div>`;
                        }}
                ,{field:'createTime',title:'创建时间',width:120}
                ,{field:'remark',width:180, title: '描述'}
                ,{title: '操作',toolbar:"#table-link-change",fixed:'right'}
            ]]
            ,page: false
        });

        table.on('tool(demo)',function (obj) {
            var data = obj.data
                , event = obj.event;
            if (event === 'edit') {
                layer.open({
                    type: 2
                    , title: '修改友情链接'
                    , shade: [0.3]
                    , content: '/foot/friendLink?id='+data.id
                    , area: ['400px', '400px']
                    , offset: 'auto'
                });
            } else if (event === 'del') {
                layer.confirm('确认删除这条数据吗?', {btn: ['确认', '取消']}, function (index) {
                    $.ajax({
                        url: '/foot/del?id='+data.id,
                        type: 'DELETE',
                        data: {'id': data.id},
                        dataType: 'JSON',
                        success: function (data) {
                            layer.msg('删除成功');
                            table.reload('links');
                        }
                        , error: function () {
                            layer.msg('删除失败');
                        }
                    });
                });
            }
        });

        form.on('submit(updateC)',function (data) {
            //JSON数据
            var js = {id:$("#cid").val(),name:$("#name").val(),icp:$("#icp").val()};
            $.ajax({
                url: '/foot/updateC',
                type: 'PUT',
                dataType: 'JSON',
                contentType: 'application/json',
                data: JSON.stringify(js),
                success: function (data) {
                    layer.alert(data.msg);
                },error:function () {
                    layer.alert("更新失败");
                }
            });
            return false;
        });
    })
</script>
<script type="text/html" id="table-link-change">
    <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="edit"><i class="layui-icon layui-icon-edit">编辑</i></a>
    <a class="layui-btn layui-btn-normal layui-btn-xs layui-btn-danger" lay-event="del"><i class="layui-icon layui-icon-delete">删除</i></a>
</script>
</body>
</html>