<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>修改底部导航</title>
    <link rel="stylesheet" href="/static/css/layui.css" th:href="@{/css/layui.css}"  media="all" />
</head>
<body>

<form class="layui-form">

    <input type="text" name="id" th:value="${footNav.id}" id="id" hidden>

    <div class="layui-form-item">
        <label class="layui-form-label">链接名称</label>
        <div class="layui-input-inline">
            <input class="layui-input" type="text" id="name" name="name" lay-verify="required|name" th:value="${footNav.name}" placeholder="请输入导航名称">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">链接Url</label>
        <div class="layui-input-inline">
            <input class="layui-input" type="text" id="url" name="url" lay-verify="required|url" th:value="${footNav.url}" placeholder="请输入导航链接">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">备注</label>
        <div class="layui-input-inline">
            <input class="layui-input" type="text" id="remark" name="remark" th:value="${footNav.remark}" placeholder="请输入备注信息">
        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit lay-filter="upFoot">保存修改</button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </div>
</form>

<script src="/static/layui.js" th:src="@{/layui.js}"></script>
<script th:inline="none">
    layui.config({
        base: '/myJs/'
    }).use('foot');
</script>
</body>
</html>